---
layout: default
comments: true
---

<article class="post">
  <div style="padding: 20px 0 20px 0;"> 
    <h1>{{ page.title }}</h1>
    <div class="date"> ✍️ {{ page.date | date: "%B %e, %Y" }}</div>
    <div class="category"><a href="{{ site.baseurl }}/{{ page.category }}"> 📖 {{ page.category }} </a></div>
    <p class="post-cover"><img src="{{ site.baseurl }}/images/covers/{{ page.cover }}" onerror="this.onerror=null; this.src='{{ site.baseurl }}/images/smile.svg'"/></p>
  </div>
  <div class="entry" style="padding-bottom: 10px;">
    {{ content }}
  </div>
  <div id="related" style="
  border-top: 1px solid #eee;">
    <h2>Related Posts</h2>
    <ul class="posts">
      {% for post in site.related_posts limit:3 %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  
</article>
